.card {
  display: flex;
  flex-direction: column;
  width: 40vh;
  height: 15vh;
  border: 3px solid #684545;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(211, 74, 74, 0.1);
  padding: 20px;
}

span{
  margin-top: 2vh;
  font-size: 5vh;
}